<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Chocolatey packages -->
  <package id="chocolatey" version="2.6.0" />
	<package id="chocolatey-compatibility.extension" version="1.0.0"/>
	<package id="chocolatey-core.extension" version="1.4.0"/>
	<package id="chocolatey-dotnetfx.extension" version="1.0.1"/>
	<package id="chocolatey-font-helpers.extension" version="0.0.4"/>
	<package id="chocolateygui" version="2.1.1"/>
	<package id="chocolatey-visualstudio.extension" version="1.13.0"/>
	<package id="chocolatey-windowsupdate.extension" version="1.0.5"/>

  <!-- Development tools -->
	<package id="oh-my-posh" version="29.0.2"/>
	<package id="git" version="2.52.0"/>
	<package id="nodejs-lts" version="24.13.0"/>
	<package id="nvm" version="1.2.2.20251229"/>
	<package id="python" version="3.14.0"/>
	<package id="python3" version="3.14.0"/>
	<package id="pyenv-win" version="3.1.1"/>
	<package id="php" version="8.5.0"/>
	<package id="ruby" version="3.4.8.1"/>
	<package id="rust" version="1.90.0"/>
	<package id="jdk8" version="8.0.211"/>
	<package id="openjdk" version="25.0.0.1"/>
	<package id="yarn" version="1.22.22"/>
	<package id="pnpm" version="10.25.0"/>
	<package id="bun" version="1.3.6"/>
	<package id="golang" version="1.25.6"/>
	<package id="ngrok" version="3.34.1"/>
	<package id="composer" version="6.3.0"/>
	<package id="bind-toolsonly" version="9.16.28"/>
	<package id="androidstudio" version="2025.2.3.9"/>
	<package id="docker-desktop" version="4.55.0"/>
	<package id="mongodb-compass" version="1.48.2"/>
	<package id="tableplus" version="6.8.1"/>
  <package id="postman" version="11.46.6"/>
	<package id="act-cli" version="0.2.84"/>
	<package id="postgresql" version="18.1.0"/>
	<package id="pgadmin4" version="9.11.0"/>
	<package id="vcredist140" version="14.44.35211"/>
	<package id="vcredist2008" version="9.0.30729.616104"/>
	<package id="vcredist2015" version="14.0.24215.20170201"/>
	<package id="visualstudio2019buildtools" version="16.11.51"/>
	<package id="visualstudio2019-workload-vctools" version="1.0.1"/>
	<package id="visualstudio2022community" version="117.14.23"/>
	<package id="visualstudio-installer" version="2.0.7"/>
	<package id="dotnet4.7.1" version="4.7.2558.20190226"/>
	<package id="dotnetfx" version="4.8.0.20220524"/>
	<package id="vscode" version="1.108.2"/>

  <!-- Utilities -->
	<package id="7zip" version="25.1.0"/>
	<package id="notepadplusplus" version="8.9.0"/>
	<package id="adobereader" version="2025.1.20577"/>
	<package id="openoffice" version="4.1.16"/>
	<package id="cpu-z" version="2.18.0"/>
	<package id="gpu-z" version="2.68.0"/>
	<package id="hwmonitor" version="1.61.0"/>
	<package id="firefox" version="147.0.1"/>
	<package id="sharex" version="18.0.1"/>
	<package id="vlc" version="3.0.23"/>
	<package id="vlc-skins" version="2026.1.18"/>
	<package id="slack" version="4.47.69"/>
	<package id="zoom" version="6.6.11.23272"/>
</packages>
